%table{:class => "table table-bordered transaction-info" }
  %thead
    %tr
      %th Date
      %th Type
      %th Rate
      %th Quantity
      %th Gross Proceeds
      %th Net Proceeds
      %th Tax
      %th Commission
  %tbody
  -@transactions.each do |transactions|
    %tr
      %td= transactions.value_date
      %td= transactions.transaction_type
      %td= humanized_money_with_symbol transactions.rate
      %td= transactions.quantity
      %td= humanized_money_with_symbol transactions.gross_proceeds
      %td= humanized_money_with_symbol transactions.net_proceeds
      %td= humanized_money_with_symbol transactions.tax
      %td= humanized_money_with_symbol transactions.commission