
<div class="row">
  <div class="col-md-3">
   <p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stock.description %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @stock.exchange %>
</p>
<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
</div>
  <div class="col-md-9">
<% if @stock.exchange == "NASDAQ" %>
  <%= javascript_tag do %>
    loadTradingView('<%= @stock.symbol %>')   
  <% end %>
<% else %>    
  <p>
  <%=link_to "Graph",@stock.graph_url,:target => "_blank" %>
</p>
<% end %>    
</div>
