
<div class="row">
  <div class="col-md-3">
   <p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stock.description %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @stock.exchange %>
</p>
<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
</div>
  <div class="col-md-9">
<% if @stock.exchange == "NASDAQ" %>    
  <!-- TradingView Widget BEGIN -->
  <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget({
    "width": 998,
    "height": 610,
    "symbol": "<%= @stock.symbol %>",
    "interval": "D",
    "timezone": "exchange",
    "theme": "White",
    "style": "1",
    "toolbar_bg": "#f1f3f6",
    "withdateranges": true,
    "allow_symbol_change": true,
    "details": true,
    "hideideas": true,
    "show_popup_button": true,
    "popup_width": "1000",
    "popup_height": "650"
  });
  </script>
    <% else %>    
  <p>
  <strong>Graph URL:</strong>
  <%= @stock.graph_url %>
</p>
<% end %>    
</div>
