<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @transaction.stock.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @transaction.quantity %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @transaction.rate %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @transaction.currency %>
</p>

<p>
  <strong>Gross proceeds:</strong>
  <%= @transaction.gross_proceeds %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @transaction.tax %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @transaction.commission %>
</p>

<p>
  <strong>Net proceeds:</strong>
  <%= @transaction.net_proceeds %>
</p>

<p>
  <strong>Registration date:</strong>
  <%= @transaction.registration_date %>
</p>

<p>
  <strong>Charge date:</strong>
  <%= @transaction.charge_date %>
</p>

<p>
  <strong>Value date:</strong>
  <%= @transaction.value_date %>
</p>

<p class="text-left" > <%= link_to 'Edit Transaction', edit_transaction_path(@transaction),:class => 'btn btn-primary' %> <%= link_to 'New Transaction', new_transaction_path,:class => 'btn btn-primary' %> </p>

